<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
        <a href="#">Quản lí địa danh</a>
        </li>
        <li class="breadcrumb-item active">Xóa địa danh</li>
    </ol>

    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="card-header">
        <i class="fas fa-table"></i>
        Danh sách địa danh</div>
        <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Tên địa danh</th>
                    <th>Vị trí</th>
                    <th>Mô tả</th>
                    <th>Gợi ý du lịch</th>
                    <th>Hình ảnh</th>
                    <th>Video</th>
                    <th>Bản đồ</th>
                    <th>Xóa</th>
                </tr>
                </thead>
                <tbody>
                {{#if data}}
                {{#each data}}
                <tr>
                    <th scope="row">{{this.ten}}</th>
                    <td>{{this.viTri}}</td>
                    <td>{{this.moTa}}</td>
                    <td>{{this.goiY}}</td>
                    <td><img id="photo" src="{{this.hinhAnh}}"></td>
                    <td><iframe width="200" height="150" src="{{this.video}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
                    <td><iframe src="{{this.banDo}}" width="200" height="150" frameborder="0" style="border:0" allowfullscreen></iframe></td>
                    <td><a href="/place/delete_list/{{this._id}}">Xóa</a></td>
                </tr>
                {{/each}}
                {{/if}}
                </tbody>
            </table>
        </div>
        </div>
    </div>
</div>