<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
        <a href="#">Quản lí địa danh</a>
        </li>
        <li class="breadcrumb-item active">Chỉnh sửa thông tin địa danh</li>
    </ol>

    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="card-header">
        <i class="fas fa-table"></i>
        Danh sách địa danh</div>
        <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Tên địa danh</th>
                    <th>Vị trí</th>
                    <th>Mô tả</th>
                    <th>Bản đồ</th>
                    <th>Hình ảnh</th>
                    <th>Video</th>
                    <th>Sửa</th>
                </tr>
                </thead>
                <tbody>
                {{#if data}}
                {{#each data}}
                <tr>
                    <th scope="row">{{this.ten}}</th>
                    <td>{{this.viTri}}</td>
                    <td>{{this.moTa}}</td>
                    <td><a href="{{this.banDo}}">{{this.banDo}}</a></td>
                    <td><a href="{{this.hinhAnh}}">{{this.hinhAnh}}</a></td>
                    <td><a href="{{this.video}}">{{this.video}}</a></td>
                    <td><a href="/place/edit/{{this._id}}">Sửa</a></td>
                </tr>
                {{/each}}
                {{/if}}
                </tbody>
            </table>
        </div>
        </div>
    </div>
</div>