<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
        <a href="#">Quản lí nhà hàng</a>
        </li>
        <li class="breadcrumb-item active">Thêm, sửa, xóa nhà hàng theo địa danh</li>
    </ol>

    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="card-header">
        <i class="fas fa-table"></i>
        Danh sách địa danh</div>
        <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Tên địa danh</th>
                    <th>Vị trí địa danh</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {{#if data}}
                {{#each data}}
                <tr>
                    <th scope="row">{{this.ten}}</th>
                    <td>{{this.viTri}}</td>
                    <td><a href="/restaurant/add/{{this._id}}">Thêm các nhà hàng trong địa danh</a></td>
                    <td><a href="/restaurant/edit_list/{{this._id}}">Sửa các nhà hàng trong địa danh</a></td>
                    <td><a href="/restaurant/delete_list/{{this._id}}">Xóa các nhà hàng trong địa danh</a></td>
                </tr>
                {{/each}}
                {{/if}}
                </tbody>
            </table>
        </div>
        </div>
    </div>
</div>