<ol class="breadcrumb">
        <li class="breadcrumb-item">
        <a href="#">Quản lí nhà hàng</a>
        </li>
        <li class="breadcrumb-item active">Chỉnh sửa thông tin nhà hàng</li>
</ol>

<div class="container">
    <div class="card card-register mx-auto mt-5">
        <div class="card-header">Chỉnh sửa thông tin nhà hàng</div>
        <div class="card-body">
        <form method="POST" action="/restaurant/edit/{{data._id}}">
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-12">
                        <div class="form-label-group">
                            <input type="text" value="{{data.ten}}" name="ten" id="ten" class="form-control" placeholder="Tên nhà hàng" required="required" autofocus="autofocus">
                            <label for="ten">Tên nhà hàng</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-12">
                        <div class="form-label-group">
                            <input type="text" value="{{data.diaChi}}" name="diaChi" id="diaChi" class="form-control" placeholder="Địa chỉ nhà hàng" required="required" autofocus="autofocus">
                            <label for="diaChi">Địa chỉ nhà hàng</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-12">
                        <div class="form-label-group">
                            <input type="text" value="{{data.sdt}}" name="sdt" id="sdt" class="form-control" placeholder="Số điện thoại" required="required" autofocus="autofocus">
                            <label for="sdt">Số điện thoại</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-12">
                        <div class="form-label-group">
                            <input type="email" value="{{data.email}}" name="email" id="email" class="form-control" placeholder="Email" required="required" autofocus="autofocus">
                            <label for="email">Email</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-12">
                        <div class="form-label-group">
                            <input type="text" value="{{data.gia}}" name="gia" id="gia" class="form-control" placeholder="Giá trung bình (VNĐ)" required="required" autofocus="autofocus">
                            <label for="gia">Giá trung bình (VNĐ)</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-12">
                        <div class="form-label-group">
                            <input type="text" value="{{data.moTa}}" name="moTa" id="moTa" class="form-control" placeholder="Mô tả" required="required" autofocus="autofocus">
                            <label for="moTa">Mô tả</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-12">
                        <div class="form-label-group">
                            <input type="text" value="{{data.tenDiaDanh}}" name="tenDiaDanh" id="tenDiaDanh" class="form-control" placeholder="Thuộc địa danh" required="required" autofocus="autofocus" disabled>
                            <label for="tenDiaDanh">Thuộc địa danh</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-12">
                        <div class="form-label-group">
                            <input type="text" value="{{data.viTriDiaDanh}}" name="viTriDiaDanh" id="viTriDiaDanh" class="form-control" placeholder="Vị trí địa danh" required="required" autofocus="autofocus" disabled>
                            <label for="viTriDiaDanh">Vị trí địa danh</label>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block">
                <i class="fa"></i> Chỉnh sửa
            </button>
        </form>
      </div>
    </div>
</div>